<app-loader [isLoading]="isLoading"></app-loader>
<!-- <div class="logo" *ngIf="!isLoading">
  <img
    src="https://via.placeholder.com/150x50?text=Pitstop"
    alt="Pitstop Logo"
  />
</div> -->

<!-- NavBar Starts -->
<nav class="navbar navbar-expand-lg">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasMenu"
    aria-controls="offcanvasMenu"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
    <div class="offcanvas-header">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/current-driver-standings" data-bs-dismiss="offcanvas">Latest Standings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/current-constructor-standings" data-bs-dismiss="offcanvas">Constructors Standings</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/" data-bs-dismiss="offcanvas">Drivers Info</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/race-schedule" data-bs-dismiss="offcanvas">Race Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" data-bs-dismiss="offcanvas">Driver Stats</a>
        </li>
      </ul>
    </div>
  </div>
  <h5>F1 PITSTOP</h5>
</nav>
<!-- NavBar Ends -->


<!-- Timer Starts -->
<main *ngIf="!isLoading">
  <section class="next-round">
    <div class="timer" *ngIf="nextRaceDate">
      <h3>Countdown to: {{ nextRaceName }}, {{ nextRaceCountry }}</h3>
      <p>Starts In: {{ countdown }}</p>
    </div>
    <div *ngIf="!nextRaceDate">
      <!-- <h3>Race Is LIVE!</h3> -->
      <p>No upcoming races</p>
    </div>
  </section>
</main>
<!-- Timer Ends -->