<!-- <div class="paddock-news">
      <h3>Paddock News</h3>
      <div class="news-item">
        <img src="https://via.placeholder.com/80" alt="News Image" />
        <p>
          Red Bull drivers reflect on ‘really close’ qualifying at Emilia
          Romagna...
        </p>
        <span>2 hours ago</span>
      </div>
      <div class="news-item">
        <img src="https://via.placeholder.com/80" alt="News Image" />
        <p>Vasseur defends Ferrari strategy as he explains chase...</p>
        <span>10 minutes ago</span>
      </div>
      <div class="news-item">
        <img src="https://via.placeholder.com/80" alt="News Image" />
        <p>
          Komatsu reveals area where Haas ‘weren’t functioning as a team’ in
          previous seasons...
        </p>
        <span>12 minutes ago</span>
      </div>
    </div> -->
    <!-- <div class="schedule">
      <h3>Schedule</h3>
      <div class="schedule-item">
        <p>AWS Canada Grand Prix 2024</p>
        <p>24 - 26 May 2024</p>
        <button>Sync Calendar</button>
        <button>Details</button>
      </div>
      <div class="schedule-item">
        <p>Aramco Gran Premio de Espana 2024</p>
        <p>24 - 26 May 2024</p>
        <button>Sync Calendar</button>
        <button>Details</button>
      </div>
    </div> -->